$body-background: rgba(10, 120, 200, 0.2);

$h1-primary: rgba(200, 20, 20, 0.8);
$h2-primary: rgba(20, 120, 20, 0.8);
$h3-primary: rgba(20, 20, 200, 0.8);

$h2-error: rgba(250, 10, 44, 0.7);

$form-bg-primary: linear-gradient(to bottom, rgba(120, 120, 20, 0.2), rgba(125, 25, 205, 0.3), rgba(20, 100, 11, 0.2), rgba(20, 200, 120, 0.3));

$input-color: rgba(125, 11, 200, 0.1);

$box-shadow-color: rgba(166, 22, 199, 0.1);
$border-color: rgba(166, 212, 199, 0.4);
